*
{
  box-sizing: border-box;
}
body
{
  background-color: hsla(120,100%,75%,0.3);
}
#container
{
  width: 50rem;
  max-width: 100%;
  margin: 30px auto;
  background-color: hsla(120,100%,55%,0.3);
}
p
{
  padding: 1rem;
}
h1, h2
{
  text-align: center;
  margin: 10px 20% 20px 20%;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}
@media (max-width: 768px)
{
  #container
   {
    width: 35rem;
    max-width: 100%;
    margin: 30px auto;
    background-color: hsla(120,100%,55%,0.3);
   }
}
@media (max-width: 426px)
{
  #container
   {
    width: 20rem;
    max-width: 100%;
    margin: 30px auto;
    background-color: hsla(120,100%,55%,0.3);
   }
  img
  {
    width: 12rem;
  }
}
@media (max-width: 375px)
{
  #container
   {
    width: 17rem;
    max-width: 100%;
    margin: 30px auto;
    background-color: hsla(120,100%,55%,0.3);
   }
  img
  {
    width: 10rem;
  }
}
  
  
  
  
  
  